body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Hide all .content sections by default */
.content {
    display: none;
}

/* Add a class to show the .content when a top-circle is clicked */
.content.active {
    display: block; /* or 'flex', 'grid', etc., depending on your layout */
}

.top-circles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.top-circle {
    /* Adjust or remove properties that create the circle appearance */
    background-color: transparent; /* Remove the background color */
    border: none; /* Remove the border */
    /* Keep other layout-related properties */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

.top-circle:hover {
    background-color: #bbb;
}

.grid-container {
    display: grid;
    /* Adjust the size of the grid items */
    grid-template-columns: repeat(4, 1fr); /* More columns for smaller items */
    gap: 15px; /* Reduced gap */
}

.grid-item {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Smooth scaling on hover */
}

.grid-item:hover {
    transform: scale(1.05); /* Slightly enlarge items on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    color: #333; /* Darker color for better readability */
}

.status {
    margin: 5px 0;
}

.online {
    color: #4CAF50; /* Brighter shade of green */
}

.offline {
    color: #F44336; /* Brighter shade of red */
}

.build-date,
.description {
    color: #555;
    font-size: 0.9em; /* Slightly smaller for less emphasis */
}

.percentage {
    position: relative; /* Adjust as needed */
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
}
.percentage canvas {
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
}